/* шрифты */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}


/* общие стили */
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #2d3440;
  background-color: #feafc3;
}
.main-container {
  flex-grow: 1;
}
.flex-container {
  display: flex;
}
.global-layout {
  width: 1170px;
  margin: 0 auto;
}
.list {
  margin: 0;
  padding: 0;
}
.item {
  list-style-type: none;
}
.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-decoration: none;
}
.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
.button {
  background-color: #fcfcfc;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(254, 175, 195, 0.6);
  border-radius: 26px;
  padding: 12px 32px;
}
.button-second {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #ff2f64;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.yellow-bg {
  background-color: #fcc850;
}
.blue-bg {
  background-color: #69a9ff;
}
.rose-bg {
  background-color: #feafc3;
}


/* шапка */
.main-header {
  height: 56px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.main-navigation-logo {
  margin-right: 16px;
}
.main-navigation-list {
  width: 568px;
  align-items: center;
  flex-wrap: wrap;
}
.main-navigation-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 42px 16px;
}
.main-address-navigation {
  align-items: center;
}
.main-phone-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 42px 10px 42px 9px;
}
.user-navigation-link {
  min-width: 32px;
  min-height: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  margin-right: 8px;
  margin-left: 8px;
}
/* это правильные селекторы? Или правильнее было добавить в них по классу? */
/* .user-navigation-list > .user-navigation-item:nth-child(1) > .user-navigation-link {

} */
.user-navigation-list > .user-navigation-item:nth-child(2) > .user-navigation-link {
  padding: 6px 18px 6px 40px;
}
.user-navigation-list > .user-navigation-item:nth-child(3) > .user-navigation-link {
  padding: 6px 16px 6px 40px;
}
/* не совсем уверен в выборе селектора, не хотелось добавлять :nth-child(3),
вдруг в будущем добавят 4-ый элемент? Обычный :last-child здесь не работает */
.user-navigation-list > .user-navigation-item:last-child > .user-navigation-link {
  margin-right: 0;
}
.navigation-flex-container {
  display: flex;
  justify-content: space-between;
}


/* особенности */
.features-slider-list {
  margin-bottom: 80px;
}
.features-slider-list {
  width: 1170px;
}
.features-slider-item {
  width: 873px;
  position: relative;
  padding: 21px 0 26px 70px;
}
.features-title {
  font-size: 36px;
  padding-top: 136px;
  padding-bottom: 24px;
}
.features-text {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}
.features-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.slide::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 150px;
  left: 946px;
  top: 202px;
  background-repeat: no-repeat;
}
.slide::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 150px;
  left: 1087px;
  top: 202px;
  background-repeat: no-repeat;
}
.slide-one::before, .slide-three::after {
  background-image: url('../images/backgrounds/background-image-ice-cream-mini-2.png');
}
.slide-one::after, .slide-two::before {
  background-image: url('../images/backgrounds/background-image-ice-cream-mini-3.png');
}
.slide-two::after, .slide-three::before {
  background-image: url('../images/backgrounds/background-image-ice-cream-mini-1.png');
}


/* социальные сети */
.social-list {
/* здесь указал текущюю длину элемента, когда здесь останутся только иконки
я этот размер актуализирую */
  width: 230px;
  margin-left: auto;
}


/* акции */
.promo-title {
  width: 443px;
  text-align: center;
  margin: 0 auto 56px auto;
}
.promo-list {
  justify-content: space-between;
  margin-bottom: 80px;
}
.promo-item-column {
  width: 570px;
  box-sizing: border-box;
  background-color: #ff7799;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 16px;
  padding: 40px 0 52px 40px;

}
.promo-item-column.one {
  background-image: url("../images/products/cone-of-raspberry.png");
  background-position: right 15px bottom;
}
.promo-item-column.two {
  background-image: url("../images/products/cone-of-marshmallows.png");
  background-position: right bottom;
}
.promo-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}
.promo-item-text {
  width: 321px;
  margin: 0;
  margin-bottom: 43px;
}
.promo-item-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}


/* предложения */
.proposals-title {
  width: 527px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 107px;
}
.proposals-list {
  justify-content: space-between;
}
.proposals-article {
  width: 270px;
  height: 281px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 133px 40px 28px 40px;
}
.proposals-link {
  position: relative;
}
.button-add-to-cart {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
}
.proposals-article-image {
  position: absolute;
  left: 10px;
  bottom: 132px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.proposals-item-title {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}
.proposals-item-text {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
.proposals-item-title, .proposals-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}


/* преимущества */
.advantages {
  width: 1170px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  background-image: url("../images/backgrounds/wafer-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}
.advantages-container {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding-top: 56px;
}
.advantages-title {
  width: 995px;
  text-align: center;
  margin: 0 auto 56px auto;
}
.advantages-list {
  flex-wrap: wrap;
}
.advantages-item {
  width: 442px;
  margin-left: 16px;
}
.advantages-item-one, .advantages-item-three {
  margin-left: 104px;
}
.advantages-item-two, .advantages-item-four {
  margin-left: 94px;
}
.advantages-item-one, .advantages-item-two {
  margin-bottom: 40px;
}
.advantages-item-three, .advantages-item-four {
  margin-bottom: 56px;
}


/* блог */
.blog {
  width: 570px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("../images/backgrounds/sorbet-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  padding: 33px 0 63px 32px;
}
.blog-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}
.blog-link {
  display: block;
  width: 303px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}


/* подписка */
.subscription {
  width: 570px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  background-image: url("../images/backgrounds/postal-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  padding: 6px;
}
.subscription-container {
  width: 558px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 26px;
  padding-bottom: 20px;
}
.subscription-title {
  margin: 0;
  margin-bottom: 42px;
}
.subscription-form {
  align-items: center;
  justify-content: space-between;
}


/* блог и подписка */
.blog-and-subscription-container {
  justify-content: space-between;
  margin-bottom: 76px;
}


/* доставка */
.delivery {
  background-color: #fcfcfc;
  background-image: url("../images/backgrounds/ice-cream-background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.delivery-title {
  margin-top: 167px;
  margin-left: 100px;
}
.delivery-text {
  margin-bottom: 167px;
  margin-left: 100px;
}
.delivery-form {
  width: 500px;
  background-color: #fcfcfc;
  margin-top: 64px;
  margin-right: 64px;
  margin-left: 64px;
}


/* контакты */
.contacts {
  background-color: #fcfcfc;
  background-image: url("../images/backgrounds/ice-cream-background-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.contacts-container {
  width: 343px;
  background-color: #fcfcfc;
/* почему не применился отступ сверху? */
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
}
.contacts-address-text, .contacts-address-tel {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
.working-hours {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}


/* подвал */
.main-footer {
  height: 153px;
  justify-content: space-between;
}
.footer-social, .footer-about-us, .footer-copyright {
  margin-top: 48px;
  margin-bottom: 48px;
}
.footer-about-us-list {
  width: 356px;
  flex-wrap: wrap;
}
.footer-about-us-item {
  margin-left: 24px;
}
.footer-about-us-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.footer-selected-link {
  font-weight: 700;
}
.footer-copyright {
  margin-right: 14px;
}
.footer-copyright-text, .footer-copyright-link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.footer-copyright-link {
  text-decoration: underline;
}


/* стили для catalog.html */
/* хлебные крошки */
.catalog-breadcrumbs {
  padding: 0;
}
.catalog-breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: underline;
}
.breadcrumbs-link-current {
  text-decoration: none;
}


/* фильтр */
.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}


/* каталог товаров */
.catalog-products-list {
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-card {
  width: 270px;
  margin-bottom: 91px;
}
.product-card:nth-last-child(-n+4) {
  margin-bottom: 57px;
}
.product-card-article {
  background-color: #fcfcfc;
}
.product-card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-card-title {
  text-align: center;
  margin: 0;
  padding: 0;
}
.product-card-title, .product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.product-card-text {
  text-align: center;
}
